<!DOCTYPE html>
<html>

<head>
    <title>Add Supervisor</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Internship Publication</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
</head>

<body bgcolor="lightgrey">
    <center>
        <font color="black" size="4" style="font-family: avenir">
            <h1 style="color: DodgerBlue">Supervisor Adding</h1>

            <form action="/addsupervisor" autocomplete="on" method="POST" enctype="multipart/form-data">

                Supervisor ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="sv_id"
                    autofocus size="40"><br><br>

                Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="sv_name"><br><br>

                Email:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="sv_email"><br><br>

                Programme:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text"
                    name="programme"><br><br>

                Faculty:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="faculty"><br><br>

                Age:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="age"><br><br>

                Profile Image: <input type=file name="profile_image"
                    style="height:25px;font-size:14pt;color:grey;"><br><br>

                password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="password"
                    name="password"><br><br>

                <button type="submit"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPDATE
                    DATABASE</button>
            </form>

            <br><br>

            <form action="/searchsupervisor" auto="on" method="POST" enctype="multipart/form-data">
                <input style="height:25px; font-size: 14pt; color:grey;" type="text" name="search"
                    placeholder="Insert Name here to search">
                <button type="submit"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Search
                    with Name</button>
            </form>

            <!-- Navigate to ViewSupervisor.html -->
            <form action="/viewsupervisor" method="GET">
                <button type="submit"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">View
                    Supervisor</button>
            </form>
            <form action="/studentapproval" method="GET">
                <button type="submit"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Student Approval</button>
            </form>

            <form action="/companyapproval" method="GET">
                <button type="submit"
                    style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Company Approval</button>
            </form>

        
        </font>
    </center>
</body>

</html>
