<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supervisor Added</title>
</head>
<body>
    <h1>Supervisor Added Successfully</h1>
    
    <p>Name: {{ name }}</p>
    <p>Email: {{ email }}</p>
    <p>Programme: {{ programme }}</p>
    <p>Faculty: {{ faculty }}</p>
    <p>Age: {{ age }}</p>
    
    <!-- Display the uploaded file -->
    <p>Profile Image Uploaded: </p>
    <a href="{{ object_url }}" target="_blank">{{ object_url }}</a>
    
    <br>
    
    <a href="/">Back</a>
</body>
</html>

