<!DOCTYPE html>
<html>

<head>
    <title>View Supervisors</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #ccc;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>

<body>
    <h1>View Supervisors</h1>
    <div class="container box_1170">
          
                <div class="whole-wrap" style="padding-left: 5%; padding-right:5%;">

                    <div class="section-top-border">

                        <div class="progress-table-wrap">
                            <div class="progress-table">
                                <div class="table-head">
                                    <div class="serial">No.</div>
                                    <div class="country">Name</div>
                                    <div class="visit">Programme</div>
                                    <div class="percentage">Faculty</div>
                                </div>                              		
                                    {% for row in data %}
                                    <div class="table-row">
                                        <div class="serial">{{loop.index}}</div>
                                        <div class="country">{{row[1]}}</div>
                                        <div class="visit">{{row[2]}}</div>
                                        <div class="percentage">
                                            <div class="button-group-area mt-10">
                                                <a href="/viewsupervisor/{{ row[0] }}" class="genric-btn success circle arrow">View</a>
                                                <a href="#" class="genric-btn primary circle arrow">Edit</a>
                                                <a href="#" class="genric-btn danger circle arrow">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                              
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
   
        </div>
</body>

</html>
