<!DOCTYPE html>
<html>
<head>
    <title>View Supervisor</title>
</head>
<body>
    <h1>Supervisor Details</h1>
    <table>
        <tr>
            <td>Supervisor ID:</td>
            <td>{{ id }}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>{{ name }}</td>
        </tr>
        <tr>
            <td>Programme:</td>
            <td>{{ programme }}</td>
        </tr>
        <tr>
            <td>Faculty:</td>
            <td>{{ faculty }}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{ age }}</td>
        </tr>
        <tr>
            <td>Profile Image:</td>
            <td><img src="{{ profile_image }}" alt="Profile Image" width="200"></td>
        </tr>
    </table>
</body>
</html>
